<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    #c{


            height: 100px;
            width: 300px;

        }
          #aa{

            margin-top: 200px;


        }
        #b{

            margin-bottom: 200px;

        }
        button{
            background-color:orange;
        }



  </style>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body background="yamaha_rd_350_kerala_166953710901573.jpg">
<div id="l">

{% include 'nav.html' %}

<div id="aa">
  <center>

    <a href=""><button id="c">ADD VEGITARIAN</button></a>
    <a href=""><button id="c">ADD NONVEGITARIAN</button></a>
  </center>
</div>

{% include 'foot.html' %}
</div>

</body>
</html>
</body>
</html>